*.bucket
*.hash
gin-bin
/cmd/cfs/cfs
/cmd/cfs/cfs.exe
/cmd/cfs/.cfsenv
/cmd/cfssv/cfssv.conf
/cmd/cfssv/cfssv
/cmd/cfssv/data
/cmd/cfssv/tags
/cmd/cfssv/versions
/bin
/**/Godeps/Readme
/**/Godeps/_workspace
/.vscode
